@import scala.collection.mutable.ListBuffer
@(pages: List[String], items: ListBuffer[Item], id: Int)(form: Form[Item])(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/items.css")">
    </head>
    <body>
        @navbar("Item Manager With Mongo")(pages)

        <div class="container container-fluid">
            @* section for the search fields to search through the database*@
            <div class="row" id="search-bar">
                @searchform(form, id)
            </div>

            <div class="row">


                <div class="row section">
                @itemslist(items)(id)
                </div>


            </div>

        </div>

    </body>
</html>